.icon {
  svg {
    width: 14px;
    height: 14px;
    @include transition-property(all);
    @include transition-duration(400ms);
    &:hover, &:focus{
      fill: #ffffff;
    }
    polygon {
      fill: #4ccde8;
      @include transition-property(all);
      @include transition-duration(400ms);
      &:hover, &:focus {
        fill: #ffffff;
      }
    }
    .glass {
      fill: none;
    }
    path {
      fill: #4ccde8;
      @include transition-property(all);
      @include transition-duration(400ms);
      &:hover, &:focus {
        fill: #ffffff;
      }
    }
  }
}